
@{
    /**/

    ViewBag.Title = "ArticleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="article-list-page ">

    <section class="section-video">
        <div class="container">
            <div>
                <video controls="controls">
                    <source src="~/Content/Video/SampleVideo_720x480_5mb.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </section>
    <h2>لیست مقالات</h2>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>متخصصان و تکنیسین های دینا</h3>
                    <p> متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی </p>
                    <a class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>متخصصان و تکنیسین های دینا</h3>
                    <p> متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی </p>
                    <a class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>متخصصان و تکنیسین های دینا</h3>
                    <p> متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی </p>
                    <a class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>     <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>متخصصان و تکنیسین های دینا</h3>
                    <p> متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی </p>
                    <a class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>متخصصان و تکنیسین های دینا</h3>
                    <p> متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی </p>
                    <a class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>     <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>متخصصان و تکنیسین های دینا</h3>
                    <p> متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی </p>
                    <a class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                <article class="des-product">
                    <h3>متخصصان و تکنیسین های دینا</h3>
                    <p> متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه یمتخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی متخصصان و تکنیسین های دینا سرویس با دارا بودن سال ها تجربه در ضمینه ی </p>
                    <a class="button-c">
                        مشاهده
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>
