@using DataStructure;
@model IEnumerable<Content>
<div class="section-content" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    @{
        foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="study-item">
                    <div>
                        <img src="@Url.Action("ShowImage","Home",new { id=item.FileId})" alt="@(string.IsNullOrEmpty(item.Alt)?item.Title:item.Alt)" />
                    </div>
                    <div class="study-item-head">
                        <a href="#register">ثبت درخواست</a>
                    </div>
                    <div class="study-item-body">
                        <h2>@item.Title</h2>
                        <span>>@item.Description.Substring(0, 120) + ...</span>
                        <a href='/Content/Category/@item.Id/"نمایندگی-تعمیرات-@item.Title'>
                            <span class="button-c">اظلاعات بیشتر را مشاهده کنید</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    }

</div>
<div class="mini-footer">
    <div class="pagination-box">
        <ul>
            <li>
                <a onclick="getItems(this)" class="active">1</a>
            </li>
            <li>
                <a>2</a>
            </li>

        </ul>
    </div>
    <span>
        <strong>تعمیر لوازم خانگی</strong> <b>تخصص ماست</b>
        <a href="#register">اجازه بدید شروع کنیم</a>


    </span>
</div>
