.section-header h3, .service-item ul li span, .study-item-body h2, .contact-right-box-head h3, .our-services-item-text label, .item-contact-form, .item-other-texts-content a h5, .item-other-texts-content a h5:hover {
    color: #9E0C0F;
}

    .item-contact-form input[type="button"] {
        background: #9E0C0F
    }

        .item-contact-form input[type="button"]:hover {
            background: #710002;
        }

.container-nav, .list-nav > li > ul > li, #accordian li.active > ul.mega-menu {
    background-color: #9E0C0F
}

.dropdown-container {
    background: #ffffff
}

.header-info li {
    color: #f7f7f7;
}

.support-box > ul > li svg {
    color: #e2e2e2;
}

#accordian ul.mega-menu ul {
    background: #9e0c0f;
}

.list-nav > li a span {
    color: #fff;
    opacity: 1
}

.btn-menu .bar1, .btn-menu .bar2, .btn-menu .bar3 {
    background-color: #fff
}

#accordian ul ul li a:before {
    background-image: url('../../../../Content/Images/left-arrow-white.png');
}

#accordian ul.mega-menu ul .head-item-mega:before {
    background-image: url(../../../../Content/Images/left-arrow-white-1.png);
}

.content-navigation-menu {
    border-top: 1px solid #ffffff;
}

    footer .service-footer a:after, .content-navigation-menu .list-nav > li:after, a.detail-box:after {
        border-top: 3px solid #fff;
        opacity: 1;
    }

.list-nav > li.active > .dropdown-container:after {
    background: #9e0c0f
}

.list-nav > li:hover > a span, .list-nav > li:hover > a svg {
    color: #ffffff;
}

body {
    color: #717171;
}

#accordian li.active > ul.mega-menu:after {
    background: #fff;
}

.mini-header span, .section-header-content span, .mini-footer span {
    color: #650002
}

.button-c {
    color: #9e0c0f
}

.section-info {
    /*9E0C0F*/
    background-color: #9e0c0f !important
}

.background {
    background-image: linear-gradient(135deg,#9E0C0F 0%,#800a0c);
}

.service-item ul li a {
    color: #0E1133
}

.main-items-list-info span {
    color: #fff;
}

.main-items-list-info > li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.52) !important;
}

.active > .dropdown-container {
    background: #9e0c0f;
}

.button-c:hover {
    border-color: #9e0c0f;
}

    .button-c:hover:after, .button-c:after {
        background-color: #9e0c0f;
    }

footer .service-footer a {
    color: #270101;
    opacity: .8;
}

    footer .service-footer a:hover, a.detail-box:hover:after {
        color: #9e0c0f;
        opacity: .9;
    }

    footer .service-footer a:after, a.detail-box:after {
        border-top: 1px solid #9e0c0f;
    }

.item-other-texts-image {
    background-color: #9e0c0f;
}

a:hover {
    color: #9e0c0f;
}

a {
    color: #2d2d2d;
}

@media only screen and (max-width: 992px) {
    .navigation-menu .list-nav li a {
        background: #7c080a;
    }

    .navigation-menu .list-nav li:hover > a, .navigation-menu .list-nav li:hover > a span {
        background: #670809 !important;
        color: #fff !important
    }

    .content-navigation-menu {
        background: #7c080a;
        border-color: #7c080a
    }
    .r-collapse { background: #da0004; }
    .list-nav > li.active > a, .list-nav > li.active > .dropdown-container li a {
        background: #9e0c0f;
        background-color: #9e0c0f
    }
}
