.section-header h3, .service-item ul li span, .study-item-body h2, .contact-right-box-head h3, .our-services-item-text label, .item-contact-form, .item-other-texts-content a h5, .item-other-texts-content a h5:hover {
    color: #3E78B2;
}

    .item-contact-form input[type="button"] {
        background: #3E78B2
    }

.container-nav, .list-nav > li > ul > li, #accordian li.active > ul.mega-menu {
    background-color: #33b5e5
}

.dropdown-container {
    background: #33b5e5
}

.list-nav > li a span {
    color: #fff;
    opacity: 1
}

.btn-menu .bar1, .btn-menu .bar2, .btn-menu .bar3 {
    background-color: #fff
}
.list-nav > li.active > .dropdown-container:after {
    background: #1e7696
}
body {
    color: #3e78b2;
}
    .mini-header span, .section-header-content span, .mini-footer span {
    color: #0E1133
}

.section-info {
    background-color: #0E1133 !important
}

.background {
    background-image: linear-gradient(135deg,#0b9ed0 0%,#0182ae);
}

.service-item ul li a {
    color: #0E1133
}
